<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Phrase</title>
	</head>
	<body>
		<h1>Edit Phrase</h1>
		<form action="">
			<label for="topic">Topic</label>
			<select id="topic">
				<option value="greetings">greetings</option>
				<option value="feelings">feelings</option>
				<option value="food">food</option>
				<option value="family">family</option>
			</select>

			<label for="phrase">Phrase</label>
			<input name="phrase" id="phrase" type="text" placeholder="phrase" />
		</form>
	</body>
</html>
