<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Show Phrase</title>
	</head>
	<body>
		<h1>Show Phrase</h1>

		<ul>
			<li><%= phrase.phrase%></li>
		</ul>
		<a href="/phrases">Phrases Index</a>
		<form action="/phrases/<%=phrase._id%>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
	</body>
</html>
