<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Topic Phrases</title>
	</head>
	<body>
		<h1>Topic Phrases</h1>

		<ul>
			<% for(let i = 0; i < phrases.length; i++ ) { %>
			<button class="say-phrase-btn" name="<%=phrases[i].phrase%>"><%=phrases[i].phrase%></button>
			<% } %>
		</ul>
		<a href="/topics">Topics</a>

		<script>
			const logPhrase = (e) => {
				e.preventDefault()
				console.log('say button clicked')
			}

			let phraseBtns = document.querySelectorAll('.say-phrase-btn')

			for (let i = 0; i < phraseBtns.length; i++) {
				addEventListener('click', logPhrase)
			}
		</script>
	</body>
</html>
