<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Topic Phrases</title>
	</head>
	<body>
		<h1>Topic Phrases</h1>

		<ul>
			<% for(let i = 0; i < phrases.length; i++ ) { %>
			<button class="say-phrase-btn" name="<%=phrases[i].phrase%>"><%=phrases[i].phrase%></button>
			<% } %>
		</ul>
		<a href="/topics">Topics</a>

		<script src="../../app.js">

			const logPhrase = () => console.log('say button clicked')
			document.querySlectorAll('#say-phrase-btn').addEventListener('click', logPhrase) // NOT SELECTING BUTTON /
		</script>
	</body>
</html>
